.task-form {
    margin-left: 70px;
    position: relative;
    overflow: hidden;
    position: relative;
    float: left;
    width: 1000px;
    float: top;
    position: relative;
    top: -350px;
    margin-right: 700px;
}